@import '../../../scss/index.scss';
.Grid{
    align-content: center;
    border-top: 20px solid rgba(240, 240, 240, 0.5);
    border-right: 20px solid rgba(240, 240, 240, 0.5);
    border-left: 20px solid rgba(240, 240, 240, 0.5);
}